<h1> Productos realTime: </h1>
<form id="form">
  <label for="id"> id:</label>
  <input type="text" id="id">

  <label for="title"> title:</label>
  <input type="text" id="title">

  <label for="description"> description:</label>
  <input type="text" id="description">

  <label for="code"> code:</label>
  <input type="text" id="code">

  <label for="price"> price:</label>
  <input type="text" id="price">

  <label for="stock"> stock:</label>
  <input type="number" id="stock">

  <label for="category"> category:</label>
  <input type="text" id="category">

  <input type="submit" value="Agregar" id="agregar">
  <input type="submit" value="Modificar" id="modificar">
  <input type="submit" value="Eliminar" id="eliminar">
</form>

<h2> Productos: </h2>
<div id="products">
  
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

<script>
  const sockets = io.connect('http://localhost:8080/', {forceNew: true});
</script>